{{#partial "title"}}Add Heroes{{/partial}}

{{#partial "content"}}

    <form action = "/addHeroes" method = "post">
    <div class = "card">
        <div class = "card-title"> <h3>Select heroes to add to your squad</h3></div>
        <select class="form-control input-sm mb15" name="bookAuthor">
            <option value="">-</option>
            {{#each allSquads}}
                <option value="{{id}}">{{squadName}}</option>
            {{/each}}
        </select>
        <div class = "card footer">
            <p></p>
            <button type = "submit" class = "btn btn-success">Enter</button>
        </div>
    </div>
    </form>





{{/partial}}

{{>layout.hbs}}