{{#partial "title"}}Welcome{{/partial}}

{{#partial "content"}}
    <h2 class = "text-center">Hero Squad</h2>
    <h4 class = "text-center">You can create your own <strong>Hero squad</strong> here</h4>
    <div class = "row">
        <div class = "col-md-6">
            <form action = "/postSquadDetails" method = "post">
                <div class = "card">
                    <div class = "card-title"> <h3>Create your Hero squad</h3></div>
                    <label>Squad Name</label>
                    <input type = "text" placeholder="Enter the Hero squad name" name = "squad" class = "form-control">
                    <label>Cause</label>
                    <input type = "text" placeholder="What cause do they fight for" name = "cause" class = "form-control">
                    <div class = "card footer">
                        <p></p>
                    <button type = "submit" class = "btn btn-success">Enter</button>
                    </div>
                </div>
            </form>

            {{#if allSquads}}
            <h4>Here are the available squads</h4>
            {{#each allSquads}}
                <ol>
                    {{#each allSquads}}
                        <li>{{squadName}} fighting {{cause}}</li>
                    {{/each}}
                </ol>
            {{/each}}
            {{/if}}
                </div>

        <div class = "col-md-6">
            <h3>Add heroes to your squad</h3>
            <div class = "card">
                <form action = "/addToSquad" method = "post">
                <label>choose your heroes</label>
                <select class="form-control input-sm mb15" name="heroes">
                    <option value="">-</option>
                    {{#each allHeroes}}
                        <option value="{{id}}">{{heroName}}</option>
                    {{/each}}
                </select><br>
                <button  type = "submit" class = "btn btn-success">Add to Squad</button>
                </form>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}