{{#partial "content"}}
    <div class="alert alert-success mt40">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <strong>{{squadName}} Has Been Successfully Added!</strong>. <a href="/addHeroes" class="alert-link">Add Heroes</a>.<br>
        <a href="/" class="alert-link">Back to home</a>.
    </div>
{{/partial}}

{{> layout.hbs}}