{{#partial "content"}}
    <div class="alert alert-success mt40">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <strong>Has Been Successfully Added to the squad!</strong>. <a href="/addHeroes" class="alert-link">Add another hero</a>.
    </div>
{{/partial}}

{{> layout.hbs}}